<h2>All Blog Posts</h2>
<button mat-raised-button color="primary" routerLink="/blogs/new">Create New Post</button>
<div class="posts-container">
  <div class="posts-grid">
    <div *ngFor="let post of posts" class="post-item">
      <mat-card>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-content>{{ post.content }}</mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/blogs/{{ post.id }}">View</button>
          <button mat-button *ngIf="isAuthor(post)" (click)="editPost(post.id)">Edit</button>
          <button mat-button *ngIf="isAuthor(post)" (click)="deletePost(post.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
